body {
  font-family: "Manrope", sans-serif;
  background: rgb(0, 152, 137);
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.counter__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.counter__title {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #e4e4ea;
}

.counter__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #eeff00;
}

.btn__start,
.btn__reset {
  font-family: inherit;
  display: block;
  width: 500px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100px;
  color: #ffffff;
  border: none;
  background: #4191ff;
  border-radius: 20px;
  cursor: pointer;
}

.btn__reset {
  background: #f63030;
}

.btn__start:active {
  background-color: #7daae9;
  transform: translateY(3px);
}

.btn__reset:active {
  background-color: #a93f3f;
  transform: translateY(3px);
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 17px;
  }

  .counter__title {
    font-size: 25px;
    line-height: 35px;
  }

  .counter__text {
    font-size: 22px;
    line-height: 30px;
  }

  .btn__start,
  .btn__reset {
    width: 100%;
    font-size: 25px;
    line-height: 110px;
  }
}
